apiVersion: v1
kind: cypress

sauce:
  region: us-west-1
  concurrency: 2
  metadata:
    tags:
      - cypress-example

cypress:
  version: 13.6.6
  configFile: "cypress.config.js"

rootDir: ./

suites:
  - name: (Experimental) webkit test
    browser: webkit
    platformName: macOS 12
    shard: spec
    config:
      specPattern: [ "cypress/e2e/**/*.*" ]
