apiVersion: v1
kind: cypress
sauce:
  region: us-west-1
  concurrency: 5
  metadata:
    tags:
      - saucectl-cypress-example
      - cypress-grep-example
    build: Github Run $GITHUB_RUN_ID
cypress:
  version: 13.12.0
  configFile: "cypress.config.js"
rootDir: ./
suites:
  - name: "Filter by tag"
    browser: chrome
    platformName: Windows 11
    config:
      specPattern: ["cypress/e2e/**/*.*"]
      env:
        grepTags: "@smoke"

  - name: "Filter by test title"
    browser: chrome
    platformName: Windows 11
    config:
      specPattern: ["cypress/e2e/**/*.*"]
      env:
        grep: "type"

  - name: "Filter with sharding"
    browser: chrome
    platformName: Windows 11
    shard: spec
    # When sharding with @cypress/grep, shardGrepEnabled allows saucectl to filter
    # spec files according to the configured @cypress/grep expressions before test execution.
    # This is similar behaviour to the `grepFilterSpecs` option in @cypress/grep
    shardGrepEnabled: true
    config:
      specPattern: ["cypress/e2e/**/*.*"]
      env:
        grepTags: "@smoke"
# The npm configuration below tells saucectl to bundle the locally installed
# @cypress/grep package to upload to sauce along with the test payload
# Any test time dependencies should be included in this list.
npm:
  dependencies:
    - "@cypress/grep"

reporters:
  spotlight: # Prints an overview of failed or otherwise interesting jobs.
    enabled: true
